body{
    display: flex;
    justify-content: center;
    margin-top: 350px;
}
.container{
    height: 500px;
    padding: 50px;
    border: solid thick rgb(255, 0, 0);
    border-radius: 15px;
    max-width: 350px;
    text-align: center;
   
}
.fruits{
    list-style: none;
}
.fruits li {
border-bottom: 2px solid purple;
width: 250px;
font-size: 25px;
display: flex;
justify-content: space-between;
align-items: space-between;
margin-right: 30px;

}
.fruits label {
    flex: 1;
    cursor: pointer;
}
.fruits input {
    display: none;
   
}
.fruits input + label:before{
    content:"🔳 ";
    
}
.fruits input:checked + label:before{
    content: "🍓";
    /* margin-left: 10px; */
}
.add{
    margin-top: 20px;
}
.add input {
    outline: 0;
    border: solid rgb(0, 255, 153);
    border-radius: 15px;
}