
.container{
    padding: 50px;
    border: solid black;
    max-width: 350px;
    text-align: center;
}
.fruits{
    list-style: none;
}
.fruits li {
border-bottom: 1px solid purple;
padding: 10px;
display: flex;
}
.fruits label {
    flex: 1;
    cursor: pointer;
}
.fruits input {
    display: none;
}
.fruits input + label:before{
    content:"🔳 ";
    margin-right: 10px;
}
.fruits input:checked + label:before{
    content: "🍓";
    margin-right: 10px;
}
.add{
    margin-top: 20px;
}
.add input {
    outline: 0;
    border: solid lime;
}